@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600;1,700;1,800&display=swap');
*{
    margin: 0px;
}
*::selection{
    background-color: lightseagreen;
    color: white;
}
/* .ref{ */
    /* padding: 2.5rem; */
/* } */
header{
    padding: 9px;
    /* background: lightcoral; */
    background-color:rgba(3, 58, 58, 0.96);  
    position: fixed;
    width: 100%;

}
section{
    padding: 5.2rem;
}
body{
    /* background-color: #6c757d; */
    background-color: rgba(255, 0, 0, 0.336);
    /* background: transparent; */
    line-height: 3.5rem;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline rgb(46, 243, 6);
}
a:active{
    color: darkgoldenrod;
}
h1{
    font-family: 'EB Garamond', serif;
    font-family: 'EB Garamond', serif;
    /* font-family: monospace; */
    font-weight: 900;
    margin-left: 10px;
    margin-right: 550px;
    color: #f77f00;
}
h1:hover{
    text-decoration: underline;
    /* background-color: #0081f9; */
    color: wheat;
    font-size: 2.1rem;
    transition: 0.65s;
}
h3 a{
    padding: 15px;
    background: transparent;
    font-family: 'EB Garamond', serif;
    cursor: pointer;
    font-size: 22px;
    word-spacing: 0px;
    padding-right: 22px;
    color: #fad2e1;
}
h3 a:hover{
    text-decoration: underline;
    /* background-color: #0081f9; */
    color: rgb(199, 114, 199);
    text-transform:uppercase;
    font-size: 1.6rem;
    transition: 0.65s;
}
img{
    width: 300px;
    height: inherit; 
}
.ab{
    text-align: center;
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
}
.b{
    background-color:#248277;
}
.heading{
    padding: 12px;
    font-family: 'EB Garamond', serif;
    font-size: 28px;
    /* font-style: italic; */
    background-color:#248277;
    background-color: gray;
    color: honeydew;
    /* border: 2px solid greenyellow; */
}
.cont{
    font-size: 24px;
    font-family: 'EB Garamond', serif;
    border: 2px solid black;

}
.c{
    background-color: blueviolet;
}
.d{
    background-color: hotpink;
}
.f{
    background-color: lightblue;
    
}
table{
    border-collapse: collapse;
    width: 100%;
}
footer img{
    width:30%;
    height: inherit;
    padding: 1rem;
}
footer img:hover{
    transform: scale(1.3);
    transition: 0.8s;
}
